version: '3.8'

services:
  api:
    build: .
    container_name: school_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/app
    restart: always

  mongo:
    image: mongo:4.4
    container_name: school_mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
